.register{
    width: 1200px;
    height: 500px;
    background-image: url(https://static9.depositphotos.com/1203063/1193/i/950/depositphotos_11937551-stock-photo-wooden-box.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}